<!-- home.ejs -->
<!DOCTYPE html>
<html>
<head>
	<title><%= pageTitle %></title>
</head>
<body>
	<h1>Welcome to Services page</h1>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/services">Our Services</a></li>
			<li><a href="/contact">Contact Us</a></li>
		</ul>
	</nav>
</body>
</html>
